# Archive—where old useless files reside
Archive/

#pycache files
*.pyc

#pycache folders
**/__pycache__/

# Log
log/

# Log files
*.log

# mpack files
*.mpack

# json files
*.json

# HDF5 files
*.h5

# Old results
QWZ_ed_results/

# ipynb checkpoints
.ipynb_checkpoints/

# idk what this file is
.DS_store

# ignore all .sync files
*.sync

# ignore all .out files
*.out

# task files
*.task

# sbatch files
*.sbatch

move_jsons.sh
