# Archive—where old useless files reside
Archive/

#pycache files
*.pyc

#pycache folders
**/__pycache__/

# Log
log/

# Log files

*.log

# Old results
QWZ_ed_results/

# ipynb checkpoints
.ipynb_checkpoints/

# idk what this file is
.DS_store

# ignore all .sync files
*.sync

# ignore all .out files
*.out
